header
{
width: 100%;
height: 70px;
background-color: #6C8CD5;
color: white;
}
#menu
{
font-family: Tahoma, Geneva, sans-serif;
font-weight: bold;
text-align: center;
}
#menu ul {
height: auto;
padding: 8px 0px;
margin: 0px;
}
#menu li { 
display: inline; 
padding: 20px; 
}
#menu a {
text-decoration: none;
color: #06266F;
padding: 8px 8px 8px 8px;
}
#menu a:hover {
color: #6C8CD5;
background-color: #06266F;
}



body
{
margin: 0px 0px 0px 0px;
background-color: #BBC8E7;
text-align: left;
}

#container{
border-color: #ABBDE7;
border-style: solid;
border-width: 4px;


border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
margin-top: 2%;
margin-bottom: 2%;
margin-left: 5%;
height: 100%;
width: 90%;
background-color: white;
}


p
{
font-family:"Times New Roman";
font-size:20px;
}